.button,
.button-primary,
.menu-toggle,
.ast-button,
.ast-custom-button,
input#submit,
input[type="button"],
input[type="submit"],
input[type="reset"] {
  outline: $button-outline;
  display: $button-display;
  box-shadow: $button-box-shadow;
  text-decoration: $button-text-decoration;

  &:hover {
    outline: $button-hover-outline;
    text-decoration: $button-hover-text-decoration;
  }

  &:focus {
    outline: $button-focus-outline;
    text-decoration: $button-focus-text-decoration;
  }
}

.button {
  &.button-secondary {
    @include button-variant(
      $button-secondary-color,
      $button-secondary-bg-color,
      $button-secondary-border-color,
      $button-secondary-hover-color,
      $button-secondary-hover-bg-color,
      $button-secondary-hover-border-color,
      $button-secondary-focus-color,
      $button-secondary-focus-bg-color,
      $button-secondary-focus-border-color,
    );
  }
}

.wp-block-button {
  min-width: 240px;
  @include media-down(tablet) {
    width: 100%;
  }
  @include media-down(mobile) {
    width: 100%;
    min-width: auto;
  }

  .wp-block-button__link {
    font-size: 12px !important;
    font-weight: 600;
    text-align: center;
    width: 100%;
    border-radius: 0;
    line-height: 1;
    padding: 23px 2px;
  }

  &.button-dark-blue {
    .wp-block-button__link {
      background-color: $dark-blue;
      border: 1px solid $dark-blue;
    }
  }

  &.button-blue {
    .wp-block-button__link {
      background-color: $blue;
      margin-bottom: 30px;
      border: 1px solid $blue;
      color: $white;
    }
  }

  &.button-transparent {
    .wp-block-button__link {
      background-color: transparent;
      margin-bottom: 30px;
      border: 1px solid $dark-blue;
      color: $dark-blue;
    }
  }

  &.button-white {
    .wp-block-button__link {
      background-color: $white;
      margin-bottom: 30px;
      border: 1px solid $white;
      color: $dark-blue;
    }
  }
}
