.hide {
  display: none;
}

.clearfix {
  clear: both;
}

.grey-background {
  .fl-row-content-wrap {
    background-color: $grey-light;
  }
}

.white-background {
  .fl-row-content-wrap {
    background-color: $white;
  }
}

.homepage-banner-row {
  .fl-row-content-wrap {
    /* Write CSS here. */
  }
}

.page-banner-row {
  .fl-row-content-wrap {
    /* Write CSS here. */
  }
}
