/* Archives */

.title-container {
  margin-bottom: 60px;
  width: 55%;
  @include media-down(tablet) {
    width: 100%;
  }

  &.course-archive {
    display: flex;
    width: 100%;
    flex-wrap: wrap;

    .content-column {
      width: 50%;
      @include media-down(tablet) {
        width: 100%;
      }

      .title {
        margin-bottom: 30px;
      }

      .category-select {
        margin-left: 50px;
        position: relative;

        &::after {
          content: url('../images/Polygon_1.svg');
          position: absolute;
          right: 20px;
          top: 15px;
          pointer-events: none;
        }
        @include media-down(tablet) {
          margin-left: 0;
          margin-top: 30px;
        }

        select {
          width: 100%;
          border: 1px solid #2a2f66;
          border-radius: 0;
          background-color: $light-blue;
          appearance: none;
          @include media-down(mobile-sm) {
            overflow: hidden;
            text-overflow: ellipsis;
            padding-right: 40px;
          }
        }
      }
    }
  }
}

.read-more {
  margin-bottom: -30px !important;

  a {
    background-color: $dark-blue;
    width: 100%;
    text-align: center;
    border: 1px solid $dark-blue;
  }
}

.ast-article-post {
  margin-bottom: 120px !important;

  .blog-layout-1 {
    border: 1px solid black;
    padding: 0 60px;
  }

  .post-content {
    .ast-blog-featured-section {
      margin-top: -30px;
      margin-bottom: 30px;

      img {
        width: 240px;
        height: 240px;
        object-fit: cover;
        @include media-down(tablet) {
          width: 100%;
        }
      }
    }

    .entry-content {
      p {
        font-size: 16px;
        line-height: 19px;

        &:not(:last-child) {
          margin-bottom: 30px;
        }
      }
    }
  }
}

.blog,
.post-type-archive-course {
  #primary {
    .site-main {
      .ast-row {
        margin-left: -35px;
        margin-right: -35px;
        @include media-down(tablet) {
          margin-left: -20px;
          margin-right: -20px;
        }

        .ast-article-post {
          padding-left: 35px;
          padding-right: 35px;
          @include media-down(tablet) {
            padding-left: 20px;
            padding-right: 20px;
          }
        }
      }
    }
  }
}

.ast-pagination {
  padding-top: 50px;
  padding-bottom: 80px;
  @include media-down(tablet) {
    padding-top: 0;
    padding-bottom: 40px;
  }

  .navigation {
    .nav-links {
      display: flex;
      margin: auto;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 15px;

      .page-numbers {
        width: 60px;
        height: 60px;
        line-height: 5;
        font-size: 12px;
        background-color: $tertiary;
        border: 0;

        &.current {
          color: $white;
          background-color: $blue;
        }

        &.next,
        &.prev {
          display: none;
        }
        @include media-down(mobile-sm) {
          width: 40px;
          height: 40px;
          line-height: 3;
        }
      }
    }
  }
}
