/* Todo */

footer {
  .site-primary-footer-wrap {
    .widget-title {
      color: $white;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 600;
      font-family: $font-secondary;
      margin-bottom: 30px;
      @include media-down(tablet) {
        text-align: left;
      }
    }

    .textwidget {
      color: $white;
      opacity: 0.7;
      font-size: 14px;
      font-weight: 500;
      line-height: 24px;
      @include media-down(tablet) {
        text-align: left;
      }

      p {
        margin-bottom: 0;
      }
    }

    .site-footer-primary-section-2 {
      nav {
        ul {
          display: flex;
          flex-wrap: wrap;
          @include media-down(tablet) {
            flex-direction: column;
          }

          li {
            margin-bottom: 5px;
            display: flex;
            flex-direction: column;
            width: 30%;
            @include media-down(tablet) {
              width: 100%;
            }

            a {
              color: $white;
              font-size: 14px;
              font-weight: 500;
              line-height: 24px;
              opacity: 0.7;
            }
          }
        }
      }
    }
  }

  .site-below-footer-wrap {
    .site-footer-section {
      .footer-widget-area {
        display: flex;
        justify-content: space-between;
        width: 50%;
        margin: auto;
        align-items: center;

        .widget {
          margin-bottom: 0;
        }
      }
    }
  }
}

.footer-widget-area[data-section="sidebar-widgets-footer-widget-2"].footer-widget-area-inner {
  text-align: left;
}

.ast-mobile-popup-inner .ast-desktop-popup-content .header-widget-area img {
  width: 492px;
  margin-top: 120px;
}

.astra-advanced-hook-2967 {
  .top-content {
    @include media-down(mobile) {
      padding-left: 30px;
      padding-right: 30px;
    }

    h2 {
      margin-bottom: 30px;
    }

    p {
      margin-bottom: 70px;
    }
  }

  .wp-block-post-template {
    margin-left: 0;
    margin-bottom: 150px;

    &.footer-blog {
      gap: 3.6em !important;
      @include media-down(tablet) {
        padding-left: 30px !important;
        padding-right: 30px !important;
      }

      li {
        width: calc(33.33333% - 2.4em) !important;
        @include media-down(tablet) {
          width: 100% !important;
        }
      }

      .wp-block-post-title {
        margin-top: 30px;
      }

      .wp-block-post-featured-image {
        margin-top: -70px;

        img {
          height: 240px;
          object-fit: cover;
        }
      }

      .wp-block-post-excerpt__excerpt {
        margin-bottom: 30px;
      }

      .wp-block-post-excerpt__more-link {
        display: none;
      }

      .read-more {
        margin-bottom: -60px;

        a {
          background-color: $blue;
          width: 100%;
          text-align: center;
        }
      }
    }
  }
}
