/* Header */
.ast-builder-menu-mobile {
  .main-navigation {
    .menu-item {
      &:not(.sub-menu li) {
        border-left: 3px solid #1e9dda;
        margin-bottom: 22px;
      }

      .ast-menu-toggle {
        line-height: 1 !important;
        outline: 0;
      }
    }

    .sub-menu {
      .menu-item {
        .menu-link {
          color: $blue;
        }
      }
    }
  }
}

.ast-mobile-popup-content {
  .ast-icon svg {
    margin-top: 0 !important;
  }
}

.ast-mobile-popup-drawer {
  .ast-mobile-popup-overlay {
    background-color: rgba(0, 0, 0, 0.7) !important;
  }
}

.ast-desktop-popup-content,
.ast-header-break-point {
  .sub-menu {
    .menu-link > .icon-arrow:first-of-type,
    .menu-item:not(.menu-item-has-children) .menu-link .icon-arrow:first-of-type {
      display: none !important;
    }

    .menu-item .sub-menu .menu-link {
      padding-left: 70px !important;
    }
  }
}

.ast-title-bar-wrap {
  clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 100%);
  margin-left: 30px;
  margin-right: 30px;

  .ast-advanced-headers-title {
    text-align: left;
    padding-left: 40px;
  }
}

.content-align-flex-start .ast-builder-layout-element {
  justify-content: center;
}

header {
  .ast-primary-header-bar {
    background-image: linear-gradient(180deg, #f0f9fd 0%, #fff 100%);
  }

  .ast-button-wrap .menu-toggle.main-header-menu-toggle {
    flex-direction: row-reverse;
  }
}

.ast-advanced-headers-vertical-center {
  width: 1220px;
  margin: 0 auto;
  @include media-down(tablet) {
    width: auto;
  }
}

[data-section="section-header-mobile-trigger"] .ast-button-wrap .mobile-menu-wrap .mobile-menu {
  margin-right: 3px;
}
