/* Pages CSS */

.ast-right-sidebar {
  #primary {
    border-right: 0;
  }

  #secondary {
    border-left: 0 !important;
    padding-left: 0 !important;

    .sidebar-main {
      .sidebar-container {
        .course-meta {
          img {
            width: 100%;
            height: 360px;
            object-fit: cover;
          }

          .category {
            margin-top: 30px;
            margin-bottom: 30px;

            p {
              margin-bottom: 0;
              line-height: 0;
              font-size: 12px;
              font-weight: 700;
            }
          }

          .price {
            margin-bottom: 30px;

            p {
              margin-bottom: 0;
              line-height: 0;
              font-size: 12px;
              font-weight: 700;
            }
          }
        }
      }
    }
  }
}

.text-font-size-18 {
  p {
    font-size: 18px;
    font-weight: 500;
  }
}

.text-font-size-24 {
  p {
    font-size: 24px;
    font-weight: 500;
  }
}

.banner-row {
  .wp-block-cover {
    .wp-block-cover__inner-container {
      .wp-block-column {
        @include media-down(mobile) {
          padding-left: 20px !important;
          padding-bottom: 0 !important;
        }
      }
    }
  }
}

.text-row {
  .wp-block-columns {
    @include media-down(mobile) {
      padding-left: 30px !important;
      padding-right: 30px !important;
      padding-bottom: 10px !important;
    }
  }
}

.product-and-service-row {
  padding-top: 60px !important;
  padding-bottom: 60px !important;

  .service-box {
    text-align: center;
    @include media-down(mobile) {
      padding-left: 20px !important;
      padding-right: 20px !important;
    }
  }
}

.two-column-row {
  margin-top: 60px;
  margin-bottom: 60px !important;
  @include media-down(mobile) {
    margin-top: 0 !important;
  }

  .wp-block-cover {
    @include media-down(mobile) {
      padding: 30px !important;
    }

    .wp-block-cover__inner-container {
      .wp-block-column {
        margin-bottom: 30px;

        .wp-block-button {
          @include media-down(mobile) {
            width: calc(50% + 20px);
          }
        }

        h3 {
          margin-top: 0;
          margin-bottom: 0;
        }
      }
    }
  }
}
