/* Pages CSS */

.page-template-default {
  &.page {
    .site-content {
      .ast-container {
        max-width: 1140px;
        margin: 0 auto;
        @include media-down(mobile) {
          max-width: 100%;
        }
      }
    }
  }

  &.home {
    .site-content {
      .ast-container {
        max-width: none !important;
        @include media-down(mobile) {
          max-width: 100%;
        }
      }
    }
  }
}

.ast-right-sidebar {
  #primary {
    border-right: 0;
  }

  #secondary {
    border-left: 0 !important;
    padding-left: 0 !important;

    // .sidebar-main {
    //   .sidebar-container {
    //     .course-meta {
    //       img {
    //         width: 100%;
    //         height: 360px;
    //         object-fit: cover;
    //       }

    //       .category {
    //         margin-top: 30px;
    //         margin-bottom: 30px;

    //         p {
    //           margin-bottom: 0;
    //           line-height: 0;
    //           font-size: 12px;
    //           font-weight: 700;
    //         }
    //       }

    //       .price {
    //         margin-bottom: 30px;

    //         p {
    //           margin-bottom: 0;
    //           line-height: 0;
    //           font-size: 12px;
    //           font-weight: 700;
    //         }
    //       }
    //     }
    //   }
    // }
  }
}

.text-font-size-18 {
  p {
    font-size: 18px;
    font-weight: 500;
  }
}

.text-font-size-24 {
  p {
    font-size: 24px;
    font-weight: 500;
  }
}

.banner-row {
  clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 100%);
  @include media-down(mobile) {
    clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 100%);
  }

  .wp-block-cover {
    min-height: 400px;
    padding: 0;

    .wp-block-cover__inner-container {
      .wp-block-column {
        @include media-down(tablet) {
          padding-left: 20px !important;
          padding-bottom: 0 !important;
        }
      }
    }
  }
}

.text-row {
  .wp-block-columns {
    @include media-down(tablet) {
      padding-left: 20px !important;
      padding-right: 20px !important;
      padding-bottom: 20px !important;
    }
  }
}

.product-and-service-row {
  @include media-down(mobile) {
    margin-bottom: 60px;
  }

  .content-column {
    .wp-block-column {
      @include media-down(mobile) {
        padding-left: 0 !important;
        padding-right: 0 !important;
      }
    }
  }

  .services-column {
    margin-top: 30px;
    @include media-down(mobile) {
      margin-top: 0;
    }

    .service-box {
      text-align: center;
      @include media-down(tablet-lg) {
        padding-left: 30px !important;
        padding-right: 30px !important;
      }

      .wp-block-button__link {
        @include media-down(tablet-lg) {
          padding: 23px 20px;
        }
      }
      @include media-down(mobile) {
        padding-left: 20px !important;
        padding-right: 20px !important;
      }

      i {
        font-size: 80px;
      }

      p {
        margin-top: 0;
        margin-bottom: 30px !important;
      }

      h3 {
        margin-top: 30px;
      }
    }
  }
}

.two-column-row {
  margin-top: 60px;
  @include media-down(mobile) {
    margin-top: 0 !important;
  }

  .wp-block-cover {
    @include media-down(mobile) {
      padding: 30px !important;
    }

    .wp-block-cover__inner-container {
      .inner-block {
        margin-bottom: 30px;
        padding: 30px 28px 26px 32px;

        .wp-block-button {
          @include media-down(mobile) {
            width: calc(50% + 20px);
          }
        }

        p {
          margin-bottom: 0;
          font-weight: 500;
        }

        h3 {
          margin-top: 0;
          margin-bottom: 0;
        }
      }

      .wp-block-button {
        .wp-block-button__link {
          @include media-down(mobile) {
            margin-bottom: 0 !important;
          }
        }
      }
    }
  }
}

.astra-advanced-hook-3186 {
  padding-bottom: 0 !important;
}

.call-to-action-banner {
  .wp-block-cover {
    background-image: linear-gradient(108deg, #1e9dda 0%, #dc8244 100%);
    padding: 45px 110px;
    @include media-down(mobile) {
      padding: 20px;
    }

    .wp-block-cover__background {
      background: linear-gradient(108deg, #1e9dda 0%, #dc8244 100%) !important;
    }

    .wp-block-cover__inner-container {
      padding: 30px 100px;
      background: linear-gradient(108deg, #1e9dda 0%, #dc8244 100%);
      @include media-down(mobile) {
        padding: 30px;
      }

      .wp-block-columns {
        margin-bottom: 0;

        .inner-box {
          p {
            color: $dark-blue;
            margin-top: 30px;
            margin-bottom: 30px;
          }
        }
      }

      .action-button {
        margin-bottom: 0 !important;
      }

      .contact-column {
        display: flex;
        flex-direction: column;
        justify-content: center;

        h3 {
          margin-top: 0 !important;
          color: $dark-blue;
          line-height: 1;
        }

        p {
          font-size: 12px;
          color: $dark-blue;
          text-transform: uppercase;
        }
      }
    }
  }
}

.page-template-page-landing {
  .ast-title-bar-wrap {
    background: transparent;

    .ast-inside-advanced-header-content {
      padding-right: 60px;
      @include media-down(tablet) {
        padding-right: 0;
      }

      .ast-advanced-headers-layout {
        background: $dark-blue;
        padding-top: 280px;
        @include media-down(tablet) {
          padding-top: 99px;
        }

        .ast-container {
          padding-right: 0;
          @include media-down(tablet) {
            padding-left: 20px !important;
          }

          .ast-advanced-headers-wrap {
            display: flex;
            justify-content: space-between;

            .ast-advanced-headers-title {
              max-width: 600px;
              @include media-down(tablet) {
                max-width: 100%;
              }
            }

            .post-featured-image {
              width: 50%;
              position: absolute;
              right: -60px;
              top: -280px;

              img {
                height: 800px;
                object-fit: cover;
              }
            }
          }
        }
      }
    }
  }

  .site-content {
    .ast-container {
      max-width: 1100px;
      padding-left: 0;
      padding-right: 0;

      #primary {
        width: 60%;
        margin-top: 30px;
        @include media-down(tablet) {
          width: 100%;
          padding-right: 20px;
          padding-left: 20px;
        }

        article {
          header.entry-header.ast-no-title.ast-no-meta {
            display: none;
          }
        }
      }

      #secondary {
        width: 40%;
        @include media-down(tablet) {
          width: 100%;
          padding-right: 20px;
          padding-left: 20px !important;
        }

        .post-featured-image {
          margin-top: -460px;
          margin-right: -60px;
          position: relative;
          @include media-down(tablet) {
            margin-top: 0;
            margin-right: 0;
          }

          img {
            height: 851px;
            object-fit: cover;
            clip-path: polygon(0 0, 100% 3%, 100% 100%, 0% 100%);
            @include media-down(tablet) {
              height: 300px;
            }
          }
        }
      }
    }
  }

  .product-and-service-row {
    max-width: 1220px;
    margin: 0 auto;
  }
}
