/* Singles */

.vjs-poster {
  background-size: 100% !important;
}

.video-section {
  margin-bottom: 60px;

  iframe {
    height: 390px;
    @include media-down(tablet) {
      width: 100%;
      height: 265px;
    }
    @include media-down(mobile) {
      height: 210px;
    }
    @include media-down(mobile-sm) {
      height: 189px;
    }
  }
}

.single {
  .post-navigation {
    display: none;
  }

  #primary {
    width: 65%;
    padding-right: 0;
    @include media-down(mobile) {
      width: 100%;
    }

    article {
      header.entry-header.ast-no-title.ast-no-meta {
        display: none;
      }
    }

    ul {
      margin-bottom: 20px;

      li {
        &::marker {
          font-size: 17px;
          color: $blue;
        }
      }
    }
  }

  #secondary {
    width: 35%;
    margin-left: 38px;
    @include media-down(tablet) {
      width: 100% !important;
      margin-left: 0;
    }

    .post-featured-image {
      img {
        width: 360px;
        height: 360px;
        object-fit: cover;
        @include media-down(tablet) {
          width: 100%;
          height: 200px;
        }
      }
    }

    .title {
      margin-top: 40px;
      margin-bottom: 30px;
    }

    .sidebar-main {
      .sidebar-container {
        .course-meta {
          img {
            width: 100%;
            height: 360px;
            object-fit: cover;
          }

          .category {
            margin-top: 30px;
            margin-bottom: 30px;

            p {
              margin-bottom: 0;
              line-height: 0;
              font-size: 12px;
              font-weight: 700;
              letter-spacing: 1.92px;
            }
          }

          .price {
            margin-bottom: 30px;

            p {
              margin-bottom: 0;
              line-height: 0;
              font-size: 12px;
              font-weight: 700;
              letter-spacing: 1.92px;
            }
          }

          .wp-block-button {
            margin-bottom: 30px;
          }
        }
      }
    }
  }

  .sidebar-main p {
    margin: 0;
  }

  &.single-post {
    #primary {
      margin-bottom: 40px;
      @include media-down(tablet) {
        margin-bottom: 0;
      }
    }
  }

  &.single-post,
  &.single-course {
    .site-content {
      .ast-container {
        max-width: 1140px;
        margin: 0 auto;
      }
    }
  }

  .course-bottom-section {
    max-width: 1220px;
    margin: 0 auto;
    background-color: $blue;
    margin-bottom: 120px;
    flex-wrap: wrap;

    .course-column {
      display: flex;
      justify-content: space-between;
      padding: 60px;
      flex-wrap: wrap;
      @include media-down(tablet) {
        padding: 20px;
      }

      .block-button {
        display: flex;
        flex-wrap: wrap;

        .wp-block-button {
          width: 360px;

          &:not(:last-child) {
            margin-right: 30px;
            @include media-down(tablet) {
              margin-right: 0;
            }
          }
        }

        .button-transparent {
          .wp-block-button__link {
            border-color: $white;
            color: $white;
          }
        }

        a {
          margin-bottom: 0;
          @include media-down(tablet) {
            margin-bottom: 20px;
          }
        }
      }

      .course-info-column {
        width: 70%;
        @include media-down(tablet) {
          width: 55%;
        }
        @include media-down(mobile) {
          width: 100%;
        }

        .price,
        .category {
          margin-bottom: 30px;

          h2,
          h3 {
            color: $white;
          }
        }
      }
    }

    .course-featured-img {
      img {
        width: 270px;
        height: 270px;
        object-fit: cover;
      }
    }
  }
}

button.ytp-large-play-button.ytp-button {
  font-size: 3em;
  line-height: 1.5em;
  height: 1.5em;
  width: 3em;
  display: block;
  position: absolute;
  top: 50px;
  left: 50px;
  padding: 0;
  cursor: pointer;
  opacity: 1;
  border: 0.06666em solid #fff;
  background-color: #2b333f;
  background-color: rgb(88 143 225 / 70%);
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  border-radius: 0.3em;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.ytp-cued-thumbnail-overlay-image {
  background: #b7849b !important;
}
