/* Singles */

.single {
  .post-navigation {
    display: none;
  }

  #primary {
    width: 65%;
    padding-left: 60px;
    padding-right: 40px;
    @include media-down(tablet) {
      width: 100%;
    }
    @include media-down(mobile) {
      margin-bottom: 0;
    }

    article {
      header.entry-header.ast-no-title.ast-no-meta {
        display: none;
      }
    }

    ul {
      li {
        margin-bottom: 30px;
      }
    }
  }

  #secondary {
    width: 35%;
    padding-right: 60px;
    @include media-down(tablet) {
      width: 100%;
      padding-right: 0;
    }

    .post-featured-image {
      img {
        width: 360px;
        height: 360px;
        object-fit: cover;
        @include media-down(tablet) {
          width: 100%;
          height: 200px;
        }
      }
    }

    .title {
      margin-top: 40px;
      margin-bottom: 30px;
    }
  }

  .sidebar-main p {
    margin: 0;
  }

  &.single-post {
    #primary {
      margin-bottom: 40px;
      @include media-down(tablet) {
        margin-bottom: 0;
      }
    }
  }
}

.video-section {
  iframe {
    height: 390px;
  }
}

button.ytp-large-play-button.ytp-button {
  font-size: 3em;
  line-height: 1.5em;
  height: 1.5em;
  width: 3em;
  display: block;
  position: absolute;
  top: 50px;
  left: 50px;
  padding: 0;
  cursor: pointer;
  opacity: 1;
  border: 0.06666em solid #fff;
  background-color: #2b333f;
  background-color: rgb(88 143 225 / 70%);
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  border-radius: 0.3em;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.ytp-cued-thumbnail-overlay-image {
  background: #b7849b !important;
}
