name: Main

env:
  themePath: 'wp-content/themes/child-theme'

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  node:
    name: Node ${{ matrix.node }}
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, '[ci skip]')"
    strategy:
      matrix:
        node: ['16']

    steps:
      - name: Checkout the project
        uses: actions/checkout@v2

      - name: Setup the Node ${{ matrix.node }} environment on ${{ runner.os }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node }}

      - name: Restore the Yarn cache directory
        id: yarncache
        run: echo "::set-output name=dir::$(yarn cache dir)"

      - uses: actions/cache@v2
        with:
          path: ${{ steps.yarncache.outputs.dir }}
          key: ${{ runner.os }}-${{ matrix.node }}-yarn-${{ hashFiles('**/package.json') }}
          restore-keys: ${{ runner.os }}-${{ matrix.node }}-yarn-

      - name: Install dependencies using Yarn
        run: yarn --cwd ${{env.themePath}} install --frozen-lockfile 

      - name: Execute the Node test scripts
        run: yarn --cwd ${{env.themePath}} test

      - name: Verify that assets are built successfully
        run: |
          yarn --cwd ${{env.themePath}} build:production
          cat ${{env.themePath}}/assets/mix-manifest.json
  php:
    name: PHP ${{ matrix.php }}
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, '[ci skip]')"
    strategy:
      matrix:
        php: ['7.4']

    steps:
      - name: Checkout the project
        uses: actions/checkout@v2

      - name: Setup the PHP ${{ matrix.php }} environment on ${{ runner.os }}
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          coverage: xdebug

      - name: Restore the Composer cache directory
        id: composercache
        run: echo "::set-output name=dir::$(composer config cache-files-dir)"

      - uses: actions/cache@v2
        with:
          path: ${{ steps.composercache.outputs.dir }}
          key: ${{ runner.os }}-${{ matrix.php }}-composer-${{ hashFiles('**/composer.json') }}
          restore-keys: ${{ runner.os }}-${{ matrix.php }}-composer-

      - name: Install Composer dependencies
        run: composer install --no-progress --prefer-dist --optimize-autoloader --no-suggest --working-dir='${{env.themePath}}'

      - name: Execute the PHP lint script
        run: composer run-script style:check --working-dir='${{env.themePath}}'
